doctype html
html
    head
        // Site made with Mobirise Website Builder v4.8.7, https://mobirise.com
        meta(charset='UTF-8')
        |   
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        |   
        meta(name='generator', content='Mobirise v4.8.7, mobirise.com')
        |   
        meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1')
        |   
        link(rel='shortcut icon', href='assets/images/kakaotalk-20181110-195646729-122x79.png', type='image/x-icon')
        |   
        meta(name='description', content='')
        |   
        title Home
        |   
        link(rel='stylesheet', href='assets/web/assets/mobirise-icons/mobirise-icons.css')
        |   
        link(rel='stylesheet', href='assets/tether/tether.min.css')
        |   
        link(rel='stylesheet', href='assets/soundcloud-plugin/style.css')
        |   
        link(rel='stylesheet', href='assets/bootstrap/css/bootstrap.min.css')
        |   
        link(rel='stylesheet', href='assets/bootstrap/css/bootstrap-grid.min.css')
        |   
        link(rel='stylesheet', href='assets/bootstrap/css/bootstrap-reboot.min.css')
        |   
        link(rel='stylesheet', href='assets/dropdown/css/style.css')
        |   
        link(rel='stylesheet', href='assets/socicon/css/styles.css')
        |   
        link(rel='stylesheet', href='assets/theme/css/style.css')
        |   
        link(href='assets/fonts/style.css', rel='stylesheet')
        |   
        link(rel='stylesheet', href='assets/mobirise/css/mbr-additional.css', type='text/css')
    body
        section#menu2-q.menu.cid-r8YZwEpWNh(once='menu')
            nav.navbar.navbar-expand.beta-menu.navbar-dropdown.align-items-center.navbar-fixed-top.navbar-toggleable-sm.bg-color.transparent
                button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                    .hamburger
                        span
                        |                 
                        span
                        |                 
                        span
                        |                 
                        span
                |         
                .menu-logo
                    .navbar-brand
                        span.navbar-logo
                            a(href='https://BENEFIT.firebaseapp.com/')
                                img(src='assets/images/logo.png', style='width: 98px;', alt='Mobirise', title='')
                |         
                #navbarSupportedContent.collapse.navbar-collapse
                    ul.navbar-nav.nav-dropdown.nav-right(data-app-modern-menu='true')
                        li.nav-item
                            a.nav-link.link.text-black.display-4(href='#content4-1h')
                                | About Us
                        |                 
                        li.nav-item
                            a.nav-link.link.text-black.display-4(href='#features15-u')
                                | Our Service
                        |                 
                        li.nav-item
                            a.nav-link.link.text-black.display-4(href='#features16-11')
                                | Team
        section.engine
            a(href='https://BENEFIT.firebaseapp.com/') bootstrap theme
        section#header6-p.header6.cid-r8YZvqppkQ.mbr-fullscreen.mbr-parallax-background
            .mbr-overlay(style='opacity: 0.65; background-color: rgb(0, 0, 0);')
            |     
            .container
                .row.justify-content-md-center
                    .mbr-white.col-md-10
                        h1.mbr-section-title.align-center.mbr-bold.pb-3.mbr-fonts-style.display-1
                            img.title-logo(src='./assets/images/logo-w.png', style='width: 300px; margin-left: 12px;')
                        |                 
                        .mbr-section-btn.align-center
                            a.btn.btn-md.btn-white-outline.display-4(target='_blank', href='/login') 서비스 이용하기
            |     
            .mbr-arrow.hidden-sm-down(aria-hidden='true')
                a(href='#content4-1h')
                    i.mbri-down.mbr-iconfont
        section#content4-1h.mbr-section.content4.cid-r8ZLiqRKvj
            .container
                .media-container-row
                    .title.col-12.col-md-8
                        h2.align-center.pb-3.mbr-fonts-style.display-2 ABOUT US
        section#features11-1c.features11.cid-r8ZFC4Cm1c
            .container
                .col-md-12
                    .media-container-row
                        .mbr-figure(style='width: 45%;')
                            img(src='assets/images/urban-438393-1921-844x560.jpg', alt='Mobirise', title='')
                        |                 
                        .align-left.aside-content
                            h2.mbr-title.pt-2.mbr-fonts-style.display-2
                                img.title-logo(style='width: 230px; margin-left: -3px; margin-top: 5px', src='./assets/images/logo.png')
                            |                     
                            .mbr-section-text
                                p.mbr-text.mb-5.pt-3.mbr-light.mbr-fonts-style.display-5
                                    | 참여율이 저조한 복지 정책에
                                    br
                                    | 활기를 불어넣습니다.
                            |                     
                            .block-content
                                .card.p-3.pr-3
                                    .media
                                        .media-body
                                            h4.card-title.mbr-fonts-style.display-7
                                                strong 참여율이 저조한 복지정책
                                    |                             
                                    .card-box
                                        p.block-text.mbr-fonts-style.display-7
                                            | 정부 및 각종 지자체에서 시행하는 복지 정책들은
                                            br
                                            | 꼭 필요한 소외계층들은 혜택을 누리지 못하고 있습니다.
                                            br
                                            | 그들에게 필요한 것은 우리 BENEFIT입니다.
        section#features15-u.features15.cid-r8Z1Elk5gV
            .container
                h2.mbr-section-title.pb-3.align-center.mbr-fonts-style.display-2 BENEFIT의 한가지 제안
                |         
                h3.mbr-section-subtitle.display-5.align-center.mbr-fonts-style 우리는 이런 서비스를 제공합니다.
                |         
                .media-container-row.container.pt-5.mt-2
                    .col-12.col-md-6.mb-4
                        a(target='_blank', href='https://BENEFIT.firebaseapp.com/')
                            .card.flip-card.p-5.align-center
                                .card-front.card_cont
                                    img(src='assets/images/woman-792162-1920-1200x800.jpg', alt='Mobirise', title='')
                                |                     
                                .card_back.card_cont
                                    h4.card-title.display-5.py-2.mbr-fonts-style
                                        strong 개인 맞춤형 복지 정책 가이드 서비스 
                                    |                         
                                    p.mbr-text.mbr-fonts-style.display-7
                                        | 사회 복지 지원금이
                                        br
                                        | 꼭 필요한 사람들에게 돌아가도록
                                        br
                                        | 도와주는 서비스 입니다.
        section#info1-1e.mbr-section.info1.cid-r8ZKjbDy0I
            .mbr-overlay(style='opacity: 0.8; background-color: rgb(239, 239, 239);')
            |     
            .container
                .row.justify-content-center.content-row
                    .media-container-column.title.col-12.col-lg-7.col-md-6
                        h3.mbr-section-subtitle.align-left.mbr-light.pb-3.mbr-fonts-style.display-5
                            div Oriented form policy guide service
                        |                 
                        h2.align-left.mbr-bold.mbr-fonts-style.display-2 맞춤형 복지 정책 가이드 서비스
                    |             
                    .media-container-column.col-12.col-lg-3.col-md-4
                        .mbr-section-btn.align-right.py-4
                            a.btn.btn-primary.display-4(target='_blank', href='http://172.31.99.207/ifhackathone/shop.php') GO SERVICE
        section#features12-1j.features12.cid-r8ZN5RnEQb
            .container
                .media-container-row.pt-5
                    .block-content.align-right
                        .card.pl-3.pr-3.pb-5
                            .mbr-card-img-title
                                .card-img.pb-3
                                    img(src='./assets/images/puzzle.png', style='width: 45px;')
                                |                         
                                .mbr-crt-title
                            |                     
                            .card-box
                                p.mbr-text.mbr-section-text.mbr-fonts-style.display-7
                                    | 빠르고 편하게 자신이
                                    br
                                    | 받을 수 있는 복지 혜택을
                                    br
                                    | 실시간으로 모아볼 수 있습니다.
                    |             
                    .mbr-figure(style='width: 50%;')
                        img(src='assets/images/logo.png', style='width: 450px; margin-left: 20px; margin-bottom: 100px;', alt='Mobirise', title='')
                    |             
                    .block-content.align-left
                        .card.pl-3.pr-3.pb-5
                            .mbr-card-img-title
                                .card-img.pb-3
                                    span.mbr-iconfont.mbri-like
                                |                         
                                .mbr-crt-title
                            |                     
                            .card-box
                                p.mbr-text.mbr-section-text.mbr-fonts-style.display-7
                                    | 개인 맞춤형으로
                                    br
                                    | 데이터를 수집하여
                                    br
                                    | 나에게 꼭 맞는 정보들만
                                    br
                                    | 보여줍니다.
        section#features16-11.features16.cid-r8Z5whATCz
            .container.align-center
                h2.pb-3.mbr-fonts-style.mbr-section-title.display-2 TEAM "SOLAR"
                |         
                h3.pb-5.mbr-section-subtitle.mbr-fonts-style.mbr-light.display-5 Introduce our team, "SOLAR".
                |         
                .row.media-row
                    .team-item.col-lg-3.col-md-6
                        .item-image
                            img(src='assets/images/kakaotalk-20181110-230831650-510x510.png', alt='', title='')
                        |                 
                        .item-caption.py-3
                            .item-name.px-2
                                p.mbr-fonts-style.display-5
                                    | 이승현
                            |                     
                            .item-role.px-2
                                p Designer
                            |                     
                            .item-social.pt-2
                                a(href='https://twitter.com/mobirise', target='_blank')
                                    span.p-1.socicon-twitter.socicon.mbr-iconfont.mbr-iconfont-social
                                |                         
                                a(href='https://www.facebook.com/pages/Mobirise/1616226671953247', target='_blank')
                                    span.p-1.socicon-facebook.socicon.mbr-iconfont.mbr-iconfont-social
                                |                         
                                a(href='https://plus.google.com/u/0/+Mobirise', target='_blank')
                                |                         
                                a(href='https://www.linkedin.com/in/mobirise', target='_blank')
                                |                         
                                a(href='https://www.instagram.com/mobirise/', target='_blank')
                                |                         
                                a(href='https://www.youtube.com/channel/UCt_tncVAetpK5JeM8L-8jyw', target='_blank')
                    .team-item.col-lg-3.col-md-6
                        .item-image
                            img(src='assets/images/KakaoTalk_20181117_094816636.jpg', alt='', title='')
                        |                 
                        .item-caption.py-3
                            .item-name.px-2
                                p.mbr-fonts-style.display-5
                                    | 이승준
                            |                     
                            .item-role.px-2
                                p Developer
                            |                     
                            .item-social.pt-2
                                a(href='https://twitter.com/mobirise', target='_blank')
                                    span.p-1.socicon-twitter.socicon.mbr-iconfont.mbr-iconfont-social
                                |                         
                                a(href='https://www.facebook.com/pages/Mobirise/1616226671953247', target='_blank')
                                    span.p-1.socicon-facebook.socicon.mbr-iconfont.mbr-iconfont-social
                                |                         
                                a(href='https://plus.google.com/u/0/+Mobirise', target='_blank')
                                |                         
                                a(href='https://www.linkedin.com/in/mobirise', target='_blank')
                                |                         
                                a(href='https://www.instagram.com/mobirise/', target='_blank')
                                |                         
                                a(href='https://www.youtube.com/channel/UCt_tncVAetpK5JeM8L-8jyw', target='_blank')
        section#features16-1k.features16.cid-r8ZTejpQfx
            .container.align-center
                .row.media-row
                    .team-item.col-lg-3.col-md-6
                        .item-image
                            img(src='assets/images/KakaoTalk_20181117_101757358.jpg', alt='', title='')
                        |                   
                        .item-caption.py-3
                            .item-name.px-2
                                p.mbr-fonts-style.display-5
                                    | 서동하
                            |                       
                            .item-role.px-2
                                p Idea Bank
                            |                       
                            .item-social.pt-2
                                a(href='https://twitter.com/mobirise', target='_blank')
                                    span.p-1.socicon-twitter.socicon.mbr-iconfont.mbr-iconfont-social
                                |                         
                                a(href='https://www.facebook.com/pages/Mobirise/1616226671953247', target='_blank')
                                    span.p-1.socicon-facebook.socicon.mbr-iconfont.mbr-iconfont-social
                                |                           
                                a(href='https://plus.google.com/u/0/+Mobirise', target='_blank')
                                |                           
                                a(href='https://www.linkedin.com/in/mobirise', target='_blank')
                                |                           
                                a(href='https://www.instagram.com/mobirise/', target='_blank')
                                |                           
                                a(href='https://www.youtube.com/channel/UCt_tncVAetpK5JeM8L-8jyw', target='_blank')
                    |         
                    .team-item.col-lg-3.col-md-6
                        .item-image
                            img(src='assets/images/kakaotalk-20181110-230831182-510x510.png', alt='', title='')
                        |                 
                        .item-caption.py-3
                            .item-name.px-2
                                p.mbr-fonts-style.display-5
                                    | 윤효연
                            |                     
                            .item-role.px-2
                                p Developer
                            |                     
                            .item-social.pt-2
                                a(href='https://twitter.com/mobirise', target='_blank')
                                    span.p-1.socicon-twitter.socicon.mbr-iconfont.mbr-iconfont-social
                                |                       
                                a(href='https://www.facebook.com/pages/Mobirise/1616226671953247', target='_blank')
                                    span.p-1.socicon-facebook.socicon.mbr-iconfont.mbr-iconfont-social
                                |                         
                                a(href='https://plus.google.com/u/0/+Mobirise', target='_blank')
                                |                         
                                a(href='https://www.linkedin.com/in/mobirise', target='_blank')
                                |                         
                                a(href='https://www.instagram.com/mobirise/', target='_blank')
                                |                         
                                a(href='https://www.youtube.com/channel/UCt_tncVAetpK5JeM8L-8jyw', target='_blank')
                    .team-item.col-lg-3.col-md-6
                        .item-image
                            img(src='assets/images/KakaoTalk_20181117_094917672.png', alt='', title='')
                        |                 
                        .item-caption.py-3
                            .item-name.px-2
                                p.mbr-fonts-style.display-5
                                    | 김대운
                            |                     
                            .item-role.px-2
                                p Developer
                            |                     
                            .item-social.pt-2
                                a(href='https://twitter.com/mobirise', target='_blank')
                                    span.p-1.socicon-twitter.socicon.mbr-iconfont.mbr-iconfont-social
                                |                       
                                a(href='https://www.facebook.com/pages/Mobirise/1616226671953247', target='_blank')
                                    span.p-1.socicon-facebook.socicon.mbr-iconfont.mbr-iconfont-social
                                |                         
                                a(href='https://plus.google.com/u/0/+Mobirise', target='_blank')
                                |                         
                                a(href='https://www.linkedin.com/in/mobirise', target='_blank')
                                |                         
                                a(href='https://www.instagram.com/mobirise/', target='_blank')
                                |                         
                                a(href='https://www.youtube.com/channel/UCt_tncVAetpK5JeM8L-8jyw', target='_blank')
        section#footer3-r.footer3.cid-r8Z0PwbGaS
            .container
                .media-container-row.content
                    .col-md-2.col-sm-4
                        .mb-3.img-logo
                            a(href='https://BENEFIT.firebaseapp.com/')
                                img(src='assets/images/kakaotalk-20181110-195646729-192x125.png', alt='Mobirise', title='')
                        |                 
                        p.mbr-fonts-style.foot-logo.display-7 BENEFIT
                    |             
                    .col-md-3.col-sm-4
                        p.mb-4.mbr-fonts-style.foot-title.display-7
                            | RECENT NEWS
                        |                 
                        p.mbr-text.mbr-links-column.mbr-fonts-style.display-7
                            a.text-black(href='#') About us
                            |                     
                            br
                            a.text-black(href='#') Services
                            |                     
                            br
                            a.text-black(href='#') Selected Work
                            |                     
                            br
                            a.text-black(href='#') Get In Touch
                            |                     
                            br
                            a.text-black(href='#') Careers
                    |             
                    .col-md-3.col-sm-4
                        p.mb-4.mbr-fonts-style.foot-title.display-7
                            | CATEGORIES
                        |                 
                        p.mbr-text.mbr-fonts-style.mbr-links-column.display-7
                            a.text-black(href='#') Business
                            |                     
                            br
                            a.text-black(href='#') Design
                            |                     
                            br
                            a.text-black(href='#') Real life
                            |                     
                            br
                            a.text-black(href='#') Science
                            |                     
                            br
                            a.text-black(href='#') Tech
                    |             
                    .col-md-4.col-sm-12
                        p.mb-4.mbr-fonts-style.foot-title.display-7
                            | SUBSCRIBE
                        |                 
                        p.mbr-text.form-text.mbr-fonts-style.display-7
                            | Get monthly updates and free resources.
                        |                 
                        .media-container-column(data-form-type='formoid')
                            .align-center(data-form-alert='', hidden='')
                                | Thanks for filling out the form!
                            |                     
                            form.form-inline(action='https://BENEFIT.firebaseapp.com/', method='post', data-form-title='Mobirise Form')
                                input(type='hidden', value='WggdPze7D3x1uQyiY3Dnl9nqZg05ZJ2Qxz3arPqftU4EJnq/6XdXnDxkqcB3nLqRa0FwZiZVs35UNmEEJ32h0C7j/39V9rTHd6sbMv9VPElxEwKuSbQw/coUr6A1CJqo', data-form-email='true')
                                |                         
                                .form-group
                                    input#email-footer3-r.form-control.input-sm.input-inverse.my-2(type='email', name='email', required='', data-form-field='Email', placeholder='Email')
                                |                         
                                .input-group-btn.m-2
                                    button.btn.btn-primary.display-4(href='', type='submit', role='button') Subscribe
                |         
                .footer-lower
                    .media-container-row
                        .col-sm-12
                            hr
                    |             
                    .media-container-row
                        .col-sm-6.copyright
                            p.mbr-text.mbr-fonts-style.display-7
                                | © Copyright 2017 Mobirise - All Rights Reserved
                        |                 
                        .col-md-6
                            .social-list.align-right
                                .soc-item
                                    a(href='https://twitter.com/mobirise', target='_blank')
                                        span.socicon-twitter.socicon.mbr-iconfont.mbr-iconfont-social
                                |                         
                                .soc-item
                                    a(href='https://www.facebook.com/pages/Mobirise/1616226671953247', target='_blank')
                                        span.socicon-facebook.socicon.mbr-iconfont.mbr-iconfont-social
                                |                         
                                .soc-item
                                    a(href='https://www.youtube.com/c/mobirise', target='_blank')
                                        span.socicon-youtube.socicon.mbr-iconfont.mbr-iconfont-social
                                |                         
                                .soc-item
                                    a(href='https://instagram.com/mobirise', target='_blank')
                                        span.socicon-instagram.socicon.mbr-iconfont.mbr-iconfont-social
                                |                         
                                .soc-item
                                    a(href='https://plus.google.com/u/0/+Mobirise', target='_blank')
                                        span.socicon-googleplus.socicon.mbr-iconfont.mbr-iconfont-social
                                |                         
                                .soc-item
                                    a(href='https://www.behance.net/Mobirise', target='_blank')
                                        span.socicon-behance.socicon.mbr-iconfont.mbr-iconfont-social
        |   
        script(src='assets/web/assets/jquery/jquery.min.js')
        |   
        script(src='assets/popper/popper.min.js')
        |   
        script(src='assets/tether/tether.min.js')
        |   
        script(src='assets/bootstrap/js/bootstrap.min.js')
        |   
        script(src='assets/dropdown/js/script.min.js')
        |   
        script(src='assets/touchswipe/jquery.touch-swipe.min.js')
        |   
        script(src='assets/parallax/jarallax.min.js')
        |   
        script(src='assets/mbr-flip-card/mbr-flip-card.js')
        |   
        script(src='assets/smoothscroll/smooth-scroll.js')
        |   
        script(src='assets/theme/js/script.js')
        |   
        script(src='assets/formoid/formoid.min.js')
        |   
        script(src='https://www.gstatic.com/firebasejs/5.5.8/firebase.js')
        |   
        script.
            // Initialize Firebase
            var config = {
            apiKey: "AIzaSyC6-t3-IW73SDSHheisIdHBZ4MjoxjQHUE",
            authDomain: "BENEFIT.firebaseapp.com",
            databaseURL: "https://BENEFIT.firebaseio.com",
            projectId: "BENEFIT",
            storageBucket: "BENEFIT.appspot.com",
            messagingSenderId: "29151757590"
            };
            firebase.initializeApp(config);
